{% extends 'base.html' %}
{% block content %}
{% if customer_form %}
<h1 class="text-center fs-1  m-3 text-warning">Customer Add Page</h1>
{% else %}
<h1 class="text-center fs-1  m-3 text-warning">Customer Edit Page</h1>
{% endif %}

<div class="container">
    <a class="btn btn-info fs-4 float-end m-4 bg-primary text-light fw-bold" href={% url 'all_customers' %}>Back</a>
</div>
<br><br><br>
<div class="container">
    <form method="post" class="text-light fw-bolder" enctype="multipart/form-data">
        {% csrf_token %}

        {% if customer_form %}
        {{ customer_form }}
        {% else %}
        {{ edit_customer_form }}
        {% endif %}
        <br>
        <br>
        {% if customer_form %}
        <input class="btn btn-primary" type="submit" value="Add Customer">
        {% else %}
        <input class="btn btn-primary" type="submit" value="Edit Customer">
        {% endif %}
    </form>
</div>
{% endblock %}