{% extends 'base.html' %}
{% block content %}

{% if order_form %}
<h1 class="text-center fs-1  m-3 text-warning">Orders Add Page</h1>
{% else %}
<h1 class="text-center fs-1  m-3 text-warning">Orders Edit Page</h1>
{% endif %}
<div class="container">
    <a class="btn btn-info fs-4 float-end m-4 bg-primary text-light fw-bold" href={% url 'all_customers' %}>Back</a>
    <form class="text-light fw-bolder" method="post">
        {% csrf_token %}

        {% if order_form %}
        {{ order_form }}
        {% else %}
        {{ edit_order_form }}
        {% endif %}
        <br>
        <br>
        {% if order_form %}
        <input class="btn btn-primary" type="submit" value="Add Order">
        {% else %}
        <input class="btn btn-primary" type="submit" value="Edit Order">
        {% endif %}

</div>
{% endblock %}