{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/customer.css' %}">
</head>

<body>
    <h1>Orders Data</h1>
    <a href="{% url 'add_orders' %}">Add Orders</a>

    <table>
        <tr>
            <th>Customer</th>
            <th>Product</th>
            <th>Order No</th>
            <th>Order Date</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>GST</th>
            <th>Bill Amount</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>

        {% for order in orders %}
        <tr>
            <td>{{order.customer_reference}}</td>
            <td>{{order.product_reference}}</td>
            <td>{{order.order_number}}</td>
            <td>{{order.order_date}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.gst_amount}}</td>
            <td>{{order.bill_amount}}</td>
            <td><a href="{% url 'edit_orders' order.id %}">Edit</a></td>
            <td><a href="{% url 'delete_orders' order.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>


</body>

</html>