{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers List</title>
    <link rel="stylesheet" href="{% static 'css/customer.css' %}">
</head>

<body>
    <h1>Customers Page</h1>
    <a href="{% url 'add_customers' %}">Add Customers</a>
    <table>
        <tr>
            <th>Customer Name</th>
            <th>Customer Since</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{customer.customer_name}}</td>
            <td>{{customer.customer_since}}</td>
            <td><a href="{% url 'edit_customers' customer.id  %}">Update</a></td>
            <td><a href="{% url 'delete_customers' customer.id  %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>